.html-tag {
  color: #e54d71;
  font-weight: 500;
}

.font-tag {
  color: #00c74e;
}

.result {
  color: #165ff2;
}

.media-tag {
  color: #ab88fd;
}

.spacing {
  height: 1rem;
  width: 100%;
}

.calc_values_input.disabled {
  pointer-events: none;
}
